<li [ngClass]="{'list-group-item':true,
'list-group-item-success':getlove(),
'list-group-item-danger':getnotlove(),
'list-group-item-default':getnew()}">
  <em style="float: right">{{created_at | date:'short'}}</em>
  <h4><strong>{{title}}</strong></h4>
  <p>{{content}}</p>
  <button class="btn btn-success" (click)="loveit()">Love it</button>&nbsp;
  <button class="btn btn-danger" (click)="dontloveit()">Don't love</button>
</li>
