<div class="container">
<div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list-item
          *ngFor="let post of posts"
          [title]="post.title" [content]="post.content" [loveIts]="post.loveIts" [created_at]="post.created_at">

        </app-post-list-item>
      </ul>
    </div>
  </div>
</div>
